
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    color: #0000c0;
}

.topbar{
    margin-top: 200px;
    height: 50px;
    width: 100%;
    padding-left: 525px;
    align-content: center;
    vertical-align: bottom;
}

#searchbar{
    width: 60vw;
    height: 10vh;
    border-radius: 100vw;
    margin-left: 20vw;
    margin-top: 5vh;
    padding: 1vw;
}

button{
    width: 5vw;
    height: 5vh;
    margin-left: 45vw;
}

p table{
    margin-left: 15vw;
    margin-top: 10vh;
}

a{
    text-decoration: none;
    color: #0000c0;
    justify-content: space-between;

}

a:hover{
    color: black;
    text-decoration: underline;
}

.shortcuts{
    margin-left: 225px;
}

.shortcuts h2{
    margin-left: 325px;
}

.shortcuts table tr td{
    width: 150px;
    text-align: center;
}

.pages .photo img{
    width: 200px;
    border-radius: 100vw;
}